/* faq.css */
/* External CSS file for FAQ page */
body {
    background: linear-gradient(135deg, #D187F5, #FFFFFF);
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

#content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

.faq-container {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    color: #333;
}

.faq-toggle {
    cursor: pointer;
    font-weight: bold;
}
